<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.bandweaver.tunnel.dao.mam.MeasValueDIMapper">
<cache/>
	<insert id="addMeasValueDI"
		parameterType="com.bandweaver.tunnel.common.biz.pojo.mam.MeasValueDI">
		INSERT INTO T_MAM_MEASVALUE_DI
		(time, object_id, cv)
		VALUES (#{time}, #{objectId}, #{CV})
	</insert>

	<select id="getListByObjectIdAndTime" resultMap="measValueDIMap">
		SELECT * FROM T_MAM_MEASVALUE_DI
		<where>
			<if test="objectId!=-1">
				and OBJECT_ID = #{objectId}
			</if>
			<if test="startTime!=null">
				and time <![CDATA[>=]]>#{startTime}
			</if>
			<if test="endTime!=null">
				and time <![CDATA[<=]]>#{endTime}
			</if>
		</where>
	</select>

	<resultMap id="measValueDIMap"
		type="com.bandweaver.tunnel.common.biz.pojo.mam.MeasValueDI">
		<result column="time" property="time" />
		<result column="object_id" property="objectId" />
		<result column="cv" property="CV" />
	</resultMap>

	<insert id="addMeasValueDIBatch" useGeneratedKeys="false">
		insert into T_MAM_MEASVALUE_DI
		(time, Object_ID, cv,status,statusc)
		select a.*,0,0 from (
		<foreach collection="list" item="item" index="index" close=")"
			open="(" separator="union">
			select
			#{item.time}, #{item.objectId}, #{item.CV}
			from dual
		</foreach>
		)a
	</insert>
	
	<select id="getByObjectId" resultMap="measValueDIMap">
		select * from t_mam_measvalue_di where object_id = #{objectId} order by time desc
	</select>
	
	<delete id="deleteBatch">
		delete from T_MAM_MEASVALUE_DI where time &lt;= #{time}
	</delete>
</mapper>