<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bandweaver.tunnel.dao.mam.MeasObjAIMapper">

    <insert id="insert" parameterType="com.bandweaver.tunnel.common.biz.pojo.mam.measobj.MeasObjAI">
        INSERT INTO T_MAM_MEASOBJ_AI (ID, REFRESH_TIME, CV)
        VALUES (#{id}, #{refreshTime}, #{CV})
    </insert>
    
    <insert id="insertSelective"  parameterType="com.bandweaver.tunnel.common.biz.pojo.mam.measobj.MeasObjAI">
        INSERT INTO T_MAM_MEASOBJ_AI
        <trim prefix="(" suffix=")" suffixOverrides=",">
        	<if test="id != null">
        		id,
        	</if>
        	<if test="refreshTime != null">
        		REFRESH_TIME,
        	</if>
        	<if test="CV != null">
        		CV,
        	</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        	<if test="id != null">
        		#{id,jdbcType=DECIMAL},
        	</if>
        	<if test="refreshTime != null">
        		#{refreshTime,jdbcType=TIMESTAMP},
        	</if>
        	<if test="CV != null">
        		#{CV,jdbcType=DECIMAL},
        	</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.bandweaver.tunnel.common.biz.pojo.mam.measobj.MeasObjAI">
        UPDATE T_MAM_MEASOBJ_AI
        SET REFRESH_TIME = #{refreshTime}, CV = #{CV}
        WHERE id = #{id}
    </update>

    <select id="getMeasObjAI" resultMap="MeasObjAIMap">
        SELECT
            a.*,
            b.*
        FROM T_MAM_MEASOBJ_AI a
            LEFT JOIN t_mam_measobj b ON a.id = b.id
        WHERE a.id = #{id}
    </select>

    <select id="getAllMeasObjAIs" resultMap="MeasObjAIMap">
        SELECT
            a.*,
            b.*
        FROM T_MAM_MEASOBJ_AI a
            LEFT JOIN t_mam_measobj b ON a.id = b.id
    </select>

    <resultMap id="MeasObjAIMap" type="com.bandweaver.tunnel.common.biz.pojo.mam.measobj.MeasObjAI">
        <id column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="section_id" jdbcType="DECIMAL" property="sectionId"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="DATATYPE_ID" jdbcType="DECIMAL" property="datatypeId"/>
        <result column="OBJTYPE_ID" jdbcType="DECIMAL" property="objtypeId"/>
        <result column="ACTIVED" jdbcType="DECIMAL" property="actived"/>
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
        <result column="LONGITUDE" jdbcType="VARCHAR" property="longitude"/>
        <result column="LATITUDE" jdbcType="VARCHAR" property="latitude"/>
        <result column="height" jdbcType="VARCHAR" property="height"/>
        <result column="DEVIATION" jdbcType="DECIMAL" property="deviation"/>
        <result column="REFRESH_TIME" jdbcType="VARCHAR" property="refreshTime"/>
        <result column="CV" jdbcType="VARCHAR" property="CV"/>
    </resultMap>

	 <insert id="addBatch" useGeneratedKeys="false">
        insert into T_MAM_MEASOBJ_AI
        (ID, REFRESH_TIME, CV)
        select a.* from (
        <foreach collection="list" item="item" index="index" close=")"
                 open="(" separator="union">
            select
            #{item.id},
            #{item.refreshTime},
            #{item.CV}
            from dual
        </foreach>
        )a
    </insert>
    
    <delete id="deleteByPrimaryKey">
    	delete from T_MAM_MEASOBJ_AI where id = #{id}
    </delete>

</mapper>