<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bandweaver.tunnel.dao.mam.VideoExtendSceneMapper">

    <insert id="insertVideoExtendScene" parameterType="com.bandweaver.tunnel.common.biz.pojo.mam.video.VideoExtendScene">
        INSERT INTO T_MAM_Video_Extend_Scene (name, tunnel_id, is_Loop, loop_Index)
        VALUES (#{name}, #{tunnelId}, #{isLoop}, #{loopIndex})
    </insert>

    <select id="getAllVideoExtendScenes" resultMap="VideoExtendSceneMap">
        SELECT * FROM T_MAM_Video_Extend_Scene
    </select>

    <select id="getVideoExtendScenesByTunnel" resultMap="VideoExtendSceneMap">
        SELECT * FROM T_MAM_Video_Extend_Scene
        WHERE tunnel_id = #{tunnelId}
    </select>

    <select id="getVideoExtendSceneDtosByTunnel" resultMap="VideoExtendSceneDtoMap">
        SELECT * FROM T_MAM_Video_Extend_Scene
        WHERE tunnel_id = #{tunnelId}
    </select>

    <resultMap id="VideoExtendSceneMap" type="com.bandweaver.tunnel.common.biz.pojo.mam.video.VideoExtendScene">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="tunnel_id" property="tunnelId" />
        <result column="is_loop" property="isLoop" />
        <result column="loop_index" property="loopIndex" />
    </resultMap>

    <resultMap id="VideoExtendSceneDtoMap" type="com.bandweaver.tunnel.common.biz.dto.mam.video.VideoExtendSceneDto">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="tunnel_id" property="tunnelId" />
        <result column="is_loop" property="isLoop" />
        <result column="loop_index" property="loopIndex" />
        <collection property="videos"
                    ofType="com.bandweaver.tunnel.common.biz.dto.mam.video.VideoExtendSceneDto"
                    column="id"
                    select="com.bandweaver.tunnel.dao.mam.VideoMapper.getVideoDtosByExtendScene">
        </collection>
    </resultMap>

</mapper>