<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bandweaver.tunnel.dao.oam.CustomerMapper">
<cache/>
  <resultMap id="BaseResultMap" type="com.bandweaver.tunnel.common.biz.pojo.oam.Customer">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="COMPANY_ID" jdbcType="DECIMAL" property="companyId" />
    <result column="CONTACT" jdbcType="VARCHAR" property="contact" />
    <result column="TEL" jdbcType="VARCHAR" property="tel" />
    <result column="CONTACT2" jdbcType="VARCHAR" property="contact2" />
    <result column="TEL2" jdbcType="VARCHAR" property="tel2" />
    <result column="CONTACT3" jdbcType="VARCHAR" property="contact3" />
    <result column="TEL3" jdbcType="VARCHAR" property="tel3" />
    <result column="CRT_TIME" jdbcType="TIMESTAMP" property="crtTime" />
  </resultMap>
  
  <resultMap id="DtoResultMap" type="com.bandweaver.tunnel.common.biz.dto.oam.CustomerDto">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="COMPANY_ID" jdbcType="DECIMAL" property="companyId" />
    <result column="CONTACT" jdbcType="VARCHAR" property="contact" />
    <result column="TEL" jdbcType="VARCHAR" property="tel" />
    <result column="CONTACT2" jdbcType="VARCHAR" property="contact2" />
    <result column="TEL2" jdbcType="VARCHAR" property="tel2" />
    <result column="CONTACT3" jdbcType="VARCHAR" property="contact3" />
    <result column="TEL3" jdbcType="VARCHAR" property="tel3" />
    <result column="CRT_TIME" jdbcType="TIMESTAMP" property="crtTime" />
    <association property="company" javaType="Company" column="company_id"
    	select="com.bandweaver.tunnel.dao.common.CompanyMapper.selectByPrimaryKey"/>
  </resultMap>
  
  
  <sql id="Base_Column_List">
    ID, COMPANY_ID, CONTACT, TEL, CONTACT2, TEL2,CONTACT3, TEL3,CRT_TIME
  </sql>
  <select id="selectByPrimaryKey"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_OAM_CUSTOMER
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" >
    delete from T_OAM_CUSTOMER
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.bandweaver.tunnel.common.biz.pojo.oam.Customer">
    insert into T_OAM_CUSTOMER (ID, COMPANY_ID, 
      CONTACT, TEL, CONTACT2, TEL2,CONTACT3, TEL3,CRT_TIME
      )
    values (#{id,jdbcType=DECIMAL}, #{companyId,jdbcType=DECIMAL},  
      #{contact,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{contact2,jdbcType=VARCHAR}, #{tel2,jdbcType=VARCHAR}, 
      #{contact3,jdbcType=VARCHAR}, #{tel3,jdbcType=VARCHAR}, 
      #{crtTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bandweaver.tunnel.common.biz.pojo.oam.Customer">
    insert into T_OAM_CUSTOMER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="companyId != null">
        COMPANY_ID,
      </if>
      <if test="contact != null">
        CONTACT,
      </if>
      <if test="tel != null">
        TEL,
      </if>
      <if test="contact2 != null">
        CONTACT2,
      </if>
      <if test="tel2 != null">
        TEL2,
      </if>
      <if test="contact3 != null">
        CONTACT3,
      </if>
      <if test="tel3 != null">
        TEL3,
      </if>
      <if test="crtTime != null">
        CRT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=DECIMAL},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="contact2 != null">
        #{contact2,jdbcType=VARCHAR},
      </if>
      <if test="tel2 != null">
        #{tel2,jdbcType=VARCHAR},
      </if>
      <if test="contact3 != null">
        #{contact3,jdbcType=VARCHAR},
      </if>
      <if test="tel3 != null">
        #{tel3,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        #{crtTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bandweaver.tunnel.common.biz.pojo.oam.Customer">
    update T_OAM_CUSTOMER
    <set>
      <if test="companyId != null">
        COMPANY_ID = #{companyId,jdbcType=DECIMAL},
      </if>
      <if test="contact != null">
        CONTACT = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        TEL = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="contact2 != null">
        CONTACT2 = #{contact2,jdbcType=VARCHAR},
      </if>
      <if test="tel2 != null">
        TEL2 = #{tel2,jdbcType=VARCHAR},
      </if>
      <if test="contact3 != null">
        CONTACT3 = #{contact3,jdbcType=VARCHAR},
      </if>
      <if test="tel3 != null">
        TEL3 = #{tel3,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        CRT_TIME = #{crtTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bandweaver.tunnel.common.biz.pojo.oam.Customer">
    update T_OAM_CUSTOMER
    set COMPANY_ID = #{companyId,jdbcType=DECIMAL},
      CONTACT = #{contact,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=VARCHAR},
      CONTACT2 = #{contact2,jdbcType=VARCHAR},
      TEL2 = #{tel2,jdbcType=VARCHAR},
      CONTACT3 = #{contact3,jdbcType=VARCHAR},
      TEL3 = #{tel3,jdbcType=VARCHAR},
      CRT_TIME = #{crtTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  <insert id="addBatch" useGeneratedKeys="false">
		insert into T_OAM_CUSTOMER
		(id,company_id,contact,tel,contact2,tel2,contact3,tel3,crt_time)
		select OAM_CUSTOMER_SEQUENCE.nextval,a.* from (
		<foreach collection="list" item="item" index="index" close=")"
			open="(" separator="union">
			select
			#{item.companyId},
			#{item.contact},
			#{item.tel},
			#{item.contact2},
			#{item.tel2},
			#{item.contact3},
			#{item.tel3},
			#{item.crtTime}
			from dual
		</foreach>
		)a
	</insert>
	
	<select id="getList" resultMap="DtoResultMap">
		select * from T_OAM_CUSTOMER
	</select>
	
	<select id="getDtoById" resultMap="DtoResultMap">
		select * from T_OAM_CUSTOMER where id = #{id}
	</select>
	
	<select id="getDtoListByCondition" resultMap="DtoResultMap">
		select * from T_OAM_CUSTOMER
		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="companyId != null">
				and company_id = #{companyId}
			</if>
			<if test="contact != null and contact.trim() != ''">
				and instr(contact,#{contact})>0
			</if>
			<if test="startTime != null">
				and crt_time &gt;= #{startTime}
			</if>
			<if test="endTime != null">
				and crt_time &lt;= #{endTime}
			</if>
		</where>
		order by crt_time desc
	</select>
	
	<select id="checkCustomer" resultMap="DtoResultMap">
		select * from T_OAM_CUSTOMER where company_id = #{companyId} and contact = #{contact}
	</select>
	
	<delete id="deleteBatch">
		delete from T_OAM_CUSTOMER where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
	</delete>
</mapper>