<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bandweaver.tunnel.dao.omm.EquipmentModelMapper">
<cache/>
  <resultMap id="BaseResultMap" type="com.bandweaver.tunnel.common.biz.pojo.omm.EquipmentModel">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="TYPE_ID" jdbcType="DECIMAL" property="typeId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CRT_TIME" jdbcType="TIMESTAMP" property="crtTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, TYPE_ID, NAME, CRT_TIME
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_OMM_EQUIPMENT_MODEL
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  
  <delete id="deleteByPrimaryKey" >
    delete from T_OMM_EQUIPMENT_MODEL
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  
  <insert id="insert" parameterType="com.bandweaver.tunnel.common.biz.pojo.omm.EquipmentModel">
    insert into T_OMM_EQUIPMENT_MODEL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        type_id,
      </if>
      <if test="name != null and name.trim() != ''">
        NAME,
      </if>
      <if test="crtTime != null">
        CRT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        #{typeId},
      </if>
      <if test="name != null and name.trim() != ''">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        #{crtTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <select id="getEquipmentModelByTypeId" resultMap="BaseResultMap">
  select * from T_OMM_EQUIPMENT_MODEL where type_id = #{typeId}
  </select>
  
  <select id="getAllEquipmentModelList" resultMap="BaseResultMap">
  select * from T_OMM_EQUIPMENT_MODEL
  </select>
</mapper>