<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bandweaver.tunnel.dao.omm.EquipmentVenderMapper">
    <cache/>
    <resultMap id="BaseResultMap" type="com.bandweaver.tunnel.common.biz.pojo.omm.EquipmentVender">
        <id column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="CRT_TIME" jdbcType="TIMESTAMP" property="crtTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, NAME, CRT_TIME
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_OMM_EQUIPMENT_VENDER
        where ID = #{id,jdbcType=DECIMAL}
    </select>
    <delete id="deleteByPrimaryKey">
        DELETE FROM T_OMM_EQUIPMENT_VENDER
        WHERE ID = #{id,jdbcType=DECIMAL}
    </delete>
    <insert id="insert" parameterType="com.bandweaver.tunnel.common.biz.pojo.omm.EquipmentVender">
        INSERT INTO T_OMM_EQUIPMENT_VENDER (ID, NAME, CRT_TIME)
        VALUES (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{crtTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.bandweaver.tunnel.common.biz.pojo.omm.EquipmentVender">
        insert into T_OMM_EQUIPMENT_VENDER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="name != null">
                NAME,
            </if>
            <if test="crtTime != null">
                CRT_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=DECIMAL},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="crtTime != null">
                #{crtTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.bandweaver.tunnel.common.biz.pojo.omm.EquipmentVender">
        update T_OMM_EQUIPMENT_VENDER
        <set>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="crtTime != null">
                CRT_TIME = #{crtTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.bandweaver.tunnel.common.biz.pojo.omm.EquipmentVender">
        UPDATE T_OMM_EQUIPMENT_VENDER
        SET NAME     = #{name,jdbcType=VARCHAR},
            CRT_TIME = #{crtTime,jdbcType=TIMESTAMP}
        WHERE ID = #{id,jdbcType=DECIMAL}
    </update>
  
  <select id="getAllEquipmentVenderList" resultMap="BaseResultMap">
  	select * from T_OMM_EQUIPMENT_VENDER
  </select>
</mapper>