<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bandweaver.tunnel.dao.omm.EquipmentMapper">
    <cache/>

    <resultMap id="DtoResultMap"
               type="com.bandweaver.tunnel.common.biz.dto.omm.EquipmentDto">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="asset_no" property="assetNo"/>
        <result column="type" property="type"/>
        <result column="type_name" property="typeName"/>
        <result column="crt_time" property="crtTime"/>
        <result column="run_time" property="runTime"/>
        <result column="alarm_no" property="alarmNo"/>
        <result column="status" property="status"/>
        <result column="section_id" property="sectionId"/>
        <result column="vender_id" property="venderId"/>
        <result column="model_id" property="modelId"/>
        <result column="obj_id" property="objId"/>
        <result column="img_url" property="imgUrl"/>
        <result column="tunnel_id" property="tunnelId"/>
        <result column="qa_term" property="qaTerm"/>
        <result column="rated_voltage" property="ratedVoltage"/>
        <result column="range" property="range"/>
        <result column="factory" property="factory"/>
        <result column="brand" property="brand"/>
        <association property="obj" javaType="MeasObj" column="obj_id"
                     select="com.bandweaver.tunnel.dao.mam.MeasObjMapper.selectByPrimaryKey"/>
        <association property="tunnel" javaType="com.bandweaver.tunnel.common.biz.dto.TunnelSimpleDto"
                     column="tunnel_id"
                     select="com.bandweaver.tunnel.dao.common.TunnelMapper.getTunnelById"/>
        <association property="section" javaType="com.bandweaver.tunnel.common.biz.dto.SectionDto"
                     column="section_id"
                     select="com.bandweaver.tunnel.dao.common.SectionMapper.getDtoById"/>
        <association property="model" javaType="EquipmentModel" column="model_id"
                     select="com.bandweaver.tunnel.dao.omm.EquipmentModelMapper.selectByPrimaryKey"/>
        <association property="vender" javaType="EquipmentVender" column="vender_id"
                     select="com.bandweaver.tunnel.dao.omm.EquipmentVenderMapper.selectByPrimaryKey"/>
    </resultMap>

    <select id="getEquipmentByAssetNo" resultMap="equipmentMap">
        SELECT *
        FROM t_omm_equipment
        WHERE
            asset_no = #{assetNo}
    </select>

    <insert id="addEquipment"
            parameterType="com.bandweaver.tunnel.common.biz.pojo.omm.Equipment">
        INSERT INTO t_omm_equipment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name.trim() != ''">
                name,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="crtTime != null">
                crt_time,
            </if>
            <if test="runTime != null">
                run_time,
            </if>
            <if test="alarmNo != null">
                alarm_no,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="assetNo != null and assetNo.trim() != ''">
                asset_no,
            </if>
            <if test="objId != null">
                obj_id,
            </if>
            <if test="sectionId != null">
                section_id,
            </if>
            <if test="venderId != null">
                vender_id,
            </if>
            <if test="modelId != null">
                model_id,
            </if>
            <if test="imgUrl != null and imgUrl.trim() != ''">
                img_url,
            </if>
            <if test="tunnelId != null">
                tunnel_id,
            </if>
            <if test="qaTerm != null">
                qa_term,
            </if>
            <if test="ratedVoltage != null">
                rated_voltage,
            </if>
            <if test="range != null">
                range,
            </if>
            <if test="factory != null">
                factory,
            </if>
            <if test="brand != null">
                brand,
            </if>
         </trim>
         <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name.trim() != ''">
                #{name},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="crtTime != null">
                #{crtTime},
            </if>
            <if test="runTime != null">
                #{runTime},
            </if>
            <if test="alarmNo != null">
                #{alarmNo},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="assetNo != null and assetNo.trim() != ''">
                #{assetNo},
            </if>
            <if test="objId != null">
                #{objId},
            </if>
            <if test="sectionId != null">
                #{sectionId},
            </if>
            <if test="venderId != null">
                #{venderId},
            </if>
            <if test="modelId != null">
                #{modelId},
            </if>
            <if test="imgUrl != null and imgUrl.trim() != ''">
                #{imgUrl},
            </if>
            <if test="tunnelId != null">
                #{tunnelId},
            </if>
            <if test="qaTerm != null">
                #{qaTerm},
            </if>
            <if test="ratedVoltage != null">
                #{ratedVoltage},
            </if>
            <if test="range != null">
                #{range},
            </if>
            <if test="factory != null">
                #{factory},
            </if>
            <if test="brand != null">
                #{brand},
            </if>
         </trim>
        
    </insert>

    <select id="getList" resultMap="equipmentMap">
        SELECT *
        FROM t_omm_equipment
    </select>

    <select id="getListByType" resultMap="equipmentMap">
        SELECT *
        FROM t_omm_equipment
        WHERE type =
              #{typeId}
    </select>

    <resultMap id="equipmentMap"
               type="com.bandweaver.tunnel.common.biz.pojo.omm.Equipment">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="asset_no" property="assetNo"/>
        <result column="type" property="type"/>
        <result column="crt_time" property="crtTime"/>
        <result column="run_time" property="runTime"/>
        <result column="alarm_no" property="alarmNo"/>
        <result column="status" property="status"/>
        <result column="section_id" property="sectionId"/>
        <result column="vender_id" property="venderId"/>
        <result column="model_id" property="modelId"/>
        <result column="obj_id" property="objId"/>
        <result column="img_url" property="imgUrl"/>
        <result column="tunnel_id" property="tunnelId"/>
        <result column="qa_term" property="qaTerm"/>
        <result column="rated_voltage" property="ratedVoltage"/>
        <result column="range" property="range"/>
        <result column="factory" property="factory"/>
        <result column="brand" property="brand"/>
    </resultMap>

    <select id="getEquipmentListByCondition" resultMap="DtoResultMap">
        select e.*,a.name as type_name from t_omm_equipment e
        left join t_omm_equipment_type a on a.id = e.type
        <where>
            <if test="name != null and name.trim() != ''">
                instr(e.name,#{name})>0
            </if>
            <if test="sectionId != null">
                and e.section_id = #{sectionId}
            </if>
            <if test="type != null">
                and e.type = #{type}
            </if>
            <if test="status != null">
                and e.status = #{status}
            </if>
            <if test="assetNo != null">
                and e.asset_no = #{assetNo}
            </if>
            <if test="objId != null">
                and e.obj_id = #{objId}
            </if>
            <if test="modelId != null">
                and e.model_id = #{modelId}
            </if>
            <if test="venderId != null">
                and e.vender_id = #{venderId}
            </if>
            <if test="tunnelId != null">
                and e.tunnel_id = #{tunnelId}
            </if>
            <if test="qaTerm != null">
                and e.qa_term = #{qaTerm}
            </if>
            <if test="ratedVoltage != null">
                and e.rated_voltage = #{ratedVoltage}
            </if>
            <if test="range != null">
                and e.range = #{range}
            </if>
            <if test="factory != null">
                and e.factory = #{factory}
            </if>
            <if test="brand != null">
                and e.brand = #{brand}
            </if>
            <if test="startTime != null">
                and e.run_time <![CDATA[>=]]>
                #{startTime}
            </if>
            <if test="endTime != null">
                and e.run_time <![CDATA[<=]]>
                #{endTime}
            </if>
        </where>
        order by e.run_time desc
    </select>

    <update id="updateEquipmentById">
        UPDATE t_omm_equipment t
        <set>
            <if test="name != null and name.trim() != ''">
                t.name = #{name},
            </if>
            <if test="assetNo != null and assetNo.trim() != ''">
                t.asset_no = #{assetNo},
            </if>
            <if test="type != null">
                t.type = #{type},
            </if>
            <if test="crtTime != null">
                t.crt_time = #{crtTime},
            </if>
            <if test="runTime != null">
                t.run_time = #{runTime},
            </if>
            <if test="alarmNo != null">
                t.alarm_no = #{alarmNo},
            </if>
            <if test="status != null">
                t.status = #{status},
            </if>
            <if test="sectionId != null">
                t.section_id = #{sectionId},
            </if>
            <if test="venderId != null">
                t.vender_id = #{venderId},
            </if>
            <if test="objId != null">
                t.obj_id = #{objId},
            </if>
            <if test="modelId != null">
                t.model_id = #{modelId},
            </if>
            <if test="imgUrl != null">
                t.img_url = #{imgUrl},
            </if>
            <if test="tunnelId != null">
                t.tunnel_id = #{tunnelId},
            </if>
            <if test="qaTerm != null">
                t.qa_term = #{qaTerm},
            </if>
            <if test="ratedVoltage != null">
                t.rated_voltage = #{ratedVoltage},
            </if>
            <if test="range != null">
                t.range = #{range},
            </if>
            <if test="factory != null">
                t.factory = #{factory},
            </if>
            <if test="brand != null">
                t.brand = #{brand},
            </if>
        </set>
        WHERE t.id = #{id}
    </update>

    <select id="getEquipmentById"
            resultMap="DtoResultMap">
        SELECT e.*,a.name as type_name
        FROM t_omm_equipment e
        left join t_omm_equipment_type a on a.id = e.type
        WHERE e.id = #{id}
    </select>

    <update id="updateEquipmentOfObj" >
    	UPDATE t_omm_equipment
        SET
            status     = #{status},
            obj_id     = null
    	WHERE id = #{id}
    </update>

    <select id="getCountByCondition" resultType="Integer">
        select count(1) from t_omm_equipment
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="tunnelId != null">
                and tunnel_id = #{tunnelId}
            </if>
        </where>

    </select>

    <delete id="deleteById">
        DELETE FROM t_omm_equipment
        WHERE id = #{id}
    </delete>
    
    <select id="getEquipmentListByObj" resultMap="DtoResultMap" >
    	SELECT e.*,a.name as type_name
        FROM t_omm_equipment e
        left join t_omm_equipment_type a on a.id = e.type
        WHERE
            e.obj_id = #{objId}
    </select>
</mapper>