<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bandweaver.tunnel.dao.omm.SpareMapper">
    <cache/>
    <insert id="add" parameterType="com.bandweaver.tunnel.common.biz.pojo.omm.Spare">
        INSERT INTO t_omm_spare
        <trim prefix="(" suffix=")" suffixOverrides=",">
        	<if test="name != null and name.trim() != ''">
                name,
            </if>
            <if test="modelId != null">
                model_id,
            </if>
            <if test="typeId != null">
                type_id,
            </if>
            <if test="venderId != null">
                vender_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="inTime != null">
                in_time,
            </if>
            <if test="qaTerm != null">
                qa_term,
            </if>
            <if test="ratedVoltage != null">
                rated_voltage,
            </if>
            <if test="range != null">
                range,
            </if>
            <if test="factory != null">
                factory,
            </if>
            <if test="brand != null">
                brand,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name.trim() != ''">
                #{name},
            </if>
            <if test="modelId != null">
                #{modelId},
            </if>
            <if test="typeId != null">
                #{typeId},
            </if>
            <if test="venderId != null">
                #{venderId},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="inTime != null">
                #{inTime},
            </if>
            <if test="qaTerm != null">
                #{qaTerm},
            </if>
            <if test="ratedVoltage != null">
                #{ratedVoltage},
            </if>
            <if test="range != null">
                #{range},
            </if>
            <if test="factory != null">
                #{factory},
            </if>
            <if test="brand != null">
                #{brand},
            </if>
        </trim>
    </insert>
    
    <update id="update" parameterType="com.bandweaver.tunnel.common.biz.pojo.omm.Spare">
        UPDATE t_omm_spare
        <set>
        	<if test="name != null and name.trim() != ''">
                name = #{name},
            </if>
            <if test="modelId != null">
                model_id = #{modelId},
            </if>
            <if test="typeId != null">
                type_id = #{typeId},
            </if>
            <if test="venderId != null">
                vender_id = #{venderId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="inTime != null">
                in_time = #{inTime},
            </if>
            <if test="qaTerm != null">
                qa_term = #{qaTerm},
            </if>
            <if test="ratedVoltage != null">
                rated_voltage = #{ratedVoltage},
            </if>
            <if test="range != null">
                range = #{range},
            </if>
            <if test="factory != null">
                factory = #{factory},
            </if>
            <if test="brand != null">
                brand = #{brand},
            </if>
        </set>
        WHERE id = #{id}
    </update>

	<select id="getSpareDtoByStatus" resultMap="spareDtoMap">
        select a.*, b.name as model_name, c.name as type_name, d.name as vender_name
        from t_omm_spare a
        LEFT JOIN t_omm_equipment_model b ON a.model_id = b.id
        LEFT JOIN t_omm_equipment_type c ON a.type_id = c.id
        LEFT JOIN t_omm_equipment_vender d ON a.vender_id = d.id
        WHERE a.status = #{status}
    </select>
	
    <select id="getSpareDtoByCondition" resultMap="spareDtoMap">
        select a.*, b.name as model_name, c.name as type_name, d.name as vender_name
        from t_omm_spare a
        LEFT JOIN t_omm_equipment_model b ON a.model_id = b.id
        LEFT JOIN t_omm_equipment_type c ON a.type_id = c.id
        LEFT JOIN t_omm_equipment_vender d ON a.vender_id = d.id
        <where>
        	<if test="id != null">
                and a.id = #{id}
            </if>
            <if test="name != null and name.trim() != ''">
                instr(a.name,#{name})>0
            </if>
            <if test="modelId != null">
                and a.model_id = #{modelId}
            </if>
            <if test="typeId != null">
                and a.type_id = #{typeId}
            </if>
            <if test="venderId != null">
                and a.vender_id = #{venderId}
            </if>
            <if test="status != null">
                and a.status = #{status}
            </if>
            <if test="qaTerm != null">
                and e.qa_term = #{qaTerm}
            </if>
            <if test="ratedVoltage != null">
                and e.rated_voltage = #{ratedVoltage}
            </if>
            <if test="range != null">
                and e.range = #{range}
            </if>
            <if test="factory != null">
                and e.factory = #{factory}
            </if>
            <if test="brand != null">
                and e.brand = #{brand}
            </if>
            <if test="startTime != null">
                and a.in_time <![CDATA[>=]]>#{startTime}
            </if>
            <if test="endTime != null">
                and a.in_time <![CDATA[<=]]>#{endTime}
            </if>
        </where>
        order by a.in_time desc
    </select>

	<select id="getSpareDtoById" resultMap="spareDtoMap">
		select a.*, b.name as model_name, c.name as type_name, d.name as vender_name
        from t_omm_spare a
        LEFT JOIN t_omm_equipment_model b ON a.model_id = b.id
        LEFT JOIN t_omm_equipment_type c ON a.type_id = c.id
        LEFT JOIN t_omm_equipment_vender d ON a.vender_id = d.id
        where a.id = #{id}
	</select>
	
	<select id="getCountByTypeIdAndStatus" resultType="Integer">
		select count(1) as count
	      from T_OMM_SPARE
	      where status = #{status}
	      and type_id = #{typeId}
	    order by count desc
	</select>
	
	<select id="getCountBystatus" resultType="Integer">
		select count(1) from T_OMM_SPARE
		where status = #{status}
	</select>
	
    <resultMap id="spareDtoMap" type="com.bandweaver.tunnel.common.biz.dto.omm.SpareDto">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="model_id" property="modelId"/>
        <result column="type_id" property="typeId"/>
        <result column="vender_id" property="venderId"/>
        <result column="vender_name" property="venderName"/>
        <result column="status" property="status"/>
        <result column="model_name" property="modelName"/>
        <result column="type_name" property="typeName"/>
        <result column="in_time" property="inTime"/>
        <result column="qa_term" property="qaTerm"/>
        <result column="rated_voltage" property="ratedVoltage"/>
        <result column="range" property="range"/>
        <result column="factory" property="factory"/>
        <result column="brand" property="brand"/>
    </resultMap>
    
    <delete id="deleteByIds">
    	delete from t_omm_spare
		WHERE ID IN
		<foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>