<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bandweaver.tunnel.dao.common.DepartmentMapper">
<cache/>
  <resultMap id="BaseResultMap" type="com.bandweaver.tunnel.common.biz.pojo.Department">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CRT_TIME" jdbcType="TIMESTAMP" property="crtTime" />
  </resultMap>
  
  <resultMap id="DtoResultMap" type="com.bandweaver.tunnel.common.biz.dto.DepartmentDto">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CRT_TIME" jdbcType="TIMESTAMP" property="crtTime" />
  </resultMap>
  
  
  <sql id="Base_Column_List">
    ID, NAME, CRT_TIME
  </sql>
  <select id="selectByPrimaryKey"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_COMMON_DEPT
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" >
    delete from T_COMMON_DEPT
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.bandweaver.tunnel.common.biz.pojo.Department">
    insert into T_COMMON_DEPT (ID, NAME, CRT_TIME
      )
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{crtTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bandweaver.tunnel.common.biz.pojo.Department">
    insert into T_COMMON_DEPT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="crtTime != null">
        CRT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        #{crtTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bandweaver.tunnel.common.biz.pojo.Department">
    update T_COMMON_DEPT
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        CRT_TIME = #{crtTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bandweaver.tunnel.common.biz.pojo.Department">
    update T_COMMON_DEPT
    set NAME = #{name,jdbcType=VARCHAR},
      CRT_TIME = #{crtTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  <select id="getDtoById" resultMap="DtoResultMap">
  	select * from T_COMMON_DEPT where id = #{id}
  </select>
  
  <select id="getDtoListByCondition" resultMap="DtoResultMap">
  	select * from T_COMMON_DEPT
  	<where>
  		<if test="id != null">
  		 	and id = #{id}
  		 </if>
  		<if test="name != null and name.trim() != ''"> 
  			and instr(name,#{name})>0
  		</if>
  		<if test="startTime != null"> 
  			and crt_time &gt;= #{startTime}
  		</if>
  		<if test="endTime != null"> 
  			and crt_time &lt;= #{endTime}
  		</if>
  	</where>
  	order by crt_time desc
  </select>
  
  <select id="getDepartmentsByCompanyId" resultMap="DtoResultMap">
  	select t.* from T_COMMON_DEPT t
	left join T_COMMON_company_dept cd on cd.dept_id = t.id
	left join T_COMMON_company c on c.id = cd.company_id 
	where c.id = #{companyId}
  </select>
  
  <delete id="deleteFromOtherTable">
  	delete from T_COMMON_company_dept where dept_id = #{id}
  </delete>
  
  <delete id="deleteBatch">
	delete from T_COMMON_DEPT where id in
       <foreach collection="list" item="item" open="(" separator="," close=")">
           #{item}
       </foreach>
  </delete>
</mapper>