<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bandweaver.tunnel.dao.common.FileInfoMapper">

  <resultMap id="BaseResultMap" type="com.bandweaver.tunnel.common.biz.pojo.FileInfo">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="FILE_TYPE" jdbcType="DECIMAL" property="fileType" />
    <result column="DOC_TYPE" jdbcType="DECIMAL" property="docType" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="CRT_TIME" jdbcType="TIMESTAMP" property="crtTime" />
  </resultMap>
  
  <resultMap id="DtoResultMap" type="com.bandweaver.tunnel.common.biz.dto.FileInfoDto">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="FILE_TYPE" jdbcType="DECIMAL" property="fileType" />
    <result column="DOC_TYPE" jdbcType="DECIMAL" property="docType" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="CRT_TIME" jdbcType="TIMESTAMP" property="crtTime" />
  </resultMap>
  
  <sql id="Base_Column_List">
    ID, NAME, FILE_TYPE, DOC_TYPE, PATH, CRT_TIME
  </sql>
  <select id="selectByPrimaryKey"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_COMMON_FILE_INFO
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" >
    delete from T_COMMON_FILE_INFO
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.bandweaver.tunnel.common.biz.pojo.FileInfo">
    insert into T_COMMON_FILE_INFO (ID, NAME, FILE_TYPE, 
      DOC_TYPE, PATH, CRT_TIME
      )
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{fileType,jdbcType=DECIMAL}, 
      #{docType,jdbcType=DECIMAL}, #{path,jdbcType=VARCHAR}, #{crtTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bandweaver.tunnel.common.biz.pojo.FileInfo">
    insert into T_COMMON_FILE_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="fileType != null">
        FILE_TYPE,
      </if>
      <if test="docType != null">
        DOC_TYPE,
      </if>
      <if test="path != null">
        PATH,
      </if>
      <if test="crtTime != null">
        CRT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null">
        #{fileType,jdbcType=DECIMAL},
      </if>
      <if test="docType != null">
        #{docType,jdbcType=DECIMAL},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        #{crtTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bandweaver.tunnel.common.biz.pojo.FileInfo">
    update T_COMMON_FILE_INFO
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null">
        FILE_TYPE = #{fileType,jdbcType=DECIMAL},
      </if>
      <if test="docType != null">
        DOC_TYPE = #{docType,jdbcType=DECIMAL},
      </if>
      <if test="path != null">
        PATH = #{path,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        CRT_TIME = #{crtTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bandweaver.tunnel.common.biz.pojo.FileInfo">
    update T_COMMON_FILE_INFO
    set NAME = #{name,jdbcType=VARCHAR},
      FILE_TYPE = #{fileType,jdbcType=DECIMAL},
      DOC_TYPE = #{docType,jdbcType=DECIMAL},
      PATH = #{path,jdbcType=VARCHAR},
      CRT_TIME = #{crtTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  <select id="getDtoListByCondition" resultMap="DtoResultMap">
  	select * from T_COMMON_FILE_INFO
  	<where>
  		<if test="id != null">
  			and id = #{id}
  		</if>
  		<if test="name != null and name.trim() != ''">
  			and INSTR(name,#{name})>0
  		</if>
  		<if test="fileType != null">
  			and file_type = #{fileType}
  		</if>
  		<if test="docType != null">
  			and doc_type = #{docType}
  		</if>
  		<if test="startTime != null">
  			and crt_time &gt;= #{startTime}
  		</if>
  		<if test="endTime != null">
  			and crt_time &lt;= #{endTime}
  		</if>
  	</where>
  	order by crt_time DESC
  </select>
</mapper>