<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bandweaver.tunnel.dao.common.RolePermissionMapper">
  <resultMap id="BaseResultMap" type="com.bandweaver.tunnel.common.biz.pojo.common.RolePermission">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="R_ID" jdbcType="DECIMAL" property="rId" />
    <result column="P_ID" jdbcType="DECIMAL" property="pId" />
    <result column="CRT_TIME" jdbcType="TIMESTAMP" property="crtTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, R_ID, P_ID, CRT_TIME
  </sql>
  <select id="selectByPrimaryKey"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SECURITY_ROLE_PERMISSION
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" >
    delete from T_SECURITY_ROLE_PERMISSION
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.bandweaver.tunnel.common.biz.pojo.common.RolePermission">
    insert into T_SECURITY_ROLE_PERMISSION (ID, R_ID, P_ID, 
      CRT_TIME)
    values (#{id,jdbcType=DECIMAL}, #{rId,jdbcType=DECIMAL}, #{pId,jdbcType=DECIMAL}, 
      #{crtTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bandweaver.tunnel.common.biz.pojo.common.RolePermission">
    insert into T_SECURITY_ROLE_PERMISSION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="rId != null">
        R_ID,
      </if>
      <if test="pId != null">
        P_ID,
      </if>
      <if test="crtTime != null">
        CRT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="rId != null">
        #{rId,jdbcType=DECIMAL},
      </if>
      <if test="pId != null">
        #{pId,jdbcType=DECIMAL},
      </if>
      <if test="crtTime != null">
        #{crtTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bandweaver.tunnel.common.biz.pojo.common.RolePermission">
    update T_SECURITY_ROLE_PERMISSION
    <set>
      <if test="rId != null">
        R_ID = #{rId,jdbcType=DECIMAL},
      </if>
      <if test="pId != null">
        P_ID = #{pId,jdbcType=DECIMAL},
      </if>
      <if test="crtTime != null">
        CRT_TIME = #{crtTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bandweaver.tunnel.common.biz.pojo.common.RolePermission">
    update T_SECURITY_ROLE_PERMISSION
    set R_ID = #{rId,jdbcType=DECIMAL},
      P_ID = #{pId,jdbcType=DECIMAL},
      CRT_TIME = #{crtTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  <delete id="deleteByRoleId">
  delete from T_SECURITY_ROLE_PERMISSION where r_id = #{roleId}
  </delete>

  <delete id="deleteByPIds">
    delete from T_SECURITY_ROLE_PERMISSION WHERE p_id IN
    <foreach collection="list" item="item" close=")" open="(" separator=",">
      #{item}
    </foreach>
  </delete>

  <delete id="deleteByRIds">
    delete from T_SECURITY_ROLE_PERMISSION WHERE r_id IN
    <foreach collection="list" item="item" close=")" open="(" separator=",">
      #{item}
    </foreach>
  </delete>
</mapper>