<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bandweaver.tunnel.dao.common.StoreTypeMapper">
<cache/>
  <resultMap id="BaseResultMap" type="com.bandweaver.tunnel.common.biz.pojo.StoreType">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="Sb" jdbcType="VARCHAR" property="sn" />
    <result column="CRT_TIME" jdbcType="TIMESTAMP" property="crtTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, SN, CRT_TIME
  </sql>
  <select id="selectByPrimaryKey"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_COMMON_STORE_TYPE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" >
    delete from T_COMMON_STORE_TYPE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.bandweaver.tunnel.common.biz.pojo.StoreType">
    insert into T_COMMON_STORE_TYPE (ID, NAME, SN, CRT_TIME
      )
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR},  #{sn,jdbcType=VARCHAR}, #{crtTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bandweaver.tunnel.common.biz.pojo.StoreType">
    insert into T_COMMON_STORE_TYPE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
        <if test="sn != null">
            sn,
        </if>
      <if test="crtTime != null">
        CRT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
        <if test="sn != null">
            #{sn,jdbcType=VARCHAR},
        </if>
      <if test="crtTime != null">
        #{crtTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bandweaver.tunnel.common.biz.pojo.StoreType">
    update T_COMMON_STORE_TYPE
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
        <if test="sn != null">
            SN = #{sn, jdbcType=VARCHAR},
        </if>
      <if test="crtTime != null">
        CRT_TIME = #{crtTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bandweaver.tunnel.common.biz.pojo.StoreType">
    update T_COMMON_STORE_TYPE
    set NAME = #{name,jdbcType=VARCHAR},
        SN = #{sn,jdbcType=VARCHAR},
      CRT_TIME = #{crtTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  <select id="getList" resultMap="BaseResultMap">
  	select * from T_COMMON_STORE_TYPE
  </select>
  
  
  <delete id="deleteBatch">
		delete from T_COMMON_STORE_TYPE where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
	</delete>
	
  <select id="getBycondition" resultMap="BaseResultMap">
  	select * from T_COMMON_STORE_TYPE
  	<where>
  		<if test="id != null">
  			and id = #{id}
  		</if>
  		<if test="name != null and name.trim() != ''">
  			and instr(name,#{name})>0
  		</if>
        <if test="sn != null and sn.trim() != ''">
            and instr(sn,#{sn})>0
        </if>
  		<if test="startTime != null">
  			and crt_time &gt;= #{startTime}
  		</if>
  		<if test="endTime != null">
  			and crt_time &lt;= #{endTime}
  		</if>
  	</where>
  	order by crt_time desc
  </select>
  
  
  <select id="getByName" resultMap="BaseResultMap">
  	select * from T_COMMON_STORE_TYPE where name = #{name}
  </select>


    <select id="getBySN" resultMap="BaseResultMap">
        select * from T_COMMON_STORE_TYPE where sn = #{sn}
    </select>

</mapper>