<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bandweaver.tunnel.dao.common.UserMapper">
	<resultMap id="BaseResultMap"
		type="com.bandweaver.tunnel.common.biz.pojo.common.User">
		<id column="ID" jdbcType="DECIMAL" property="id" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="PASSWORD" jdbcType="VARCHAR"
			property="password" />
		<result column="CRT_TIME" jdbcType="TIMESTAMP"
			property="crtTime" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, NAME, PASSWORD, CRT_TIME
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_SECURITY_USER
		where ID = #{id,jdbcType=DECIMAL}
	</select>
	<delete id="deleteByPrimaryKey">
		delete from T_SECURITY_USER
		where ID =
		#{id,jdbcType=DECIMAL}
	</delete>
	<insert id="insert"
		parameterType="com.bandweaver.tunnel.common.biz.pojo.common.User">
		insert into T_SECURITY_USER (ID, NAME, PASSWORD,
		CRT_TIME)
		values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{crtTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective"
		parameterType="com.bandweaver.tunnel.common.biz.pojo.common.User">
		insert into T_SECURITY_USER
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="password != null">
				PASSWORD,
			</if>
			<if test="crtTime != null">
				CRT_TIME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=DECIMAL},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="crtTime != null">
				#{crtTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.bandweaver.tunnel.common.biz.pojo.common.User">
		update T_SECURITY_USER
		<set>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				PASSWORD = #{password,jdbcType=VARCHAR},
			</if>
			<if test="crtTime != null">
				CRT_TIME = #{crtTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where ID = #{id,jdbcType=DECIMAL}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.bandweaver.tunnel.common.biz.pojo.common.User">
		update T_SECURITY_USER
		set NAME =
		#{name,jdbcType=VARCHAR},
		PASSWORD = #{password,jdbcType=VARCHAR},
		CRT_TIME = #{crtTime,jdbcType=TIMESTAMP}
		where ID =
		#{id,jdbcType=DECIMAL}
	</update>

	<resultMap id="DtoResultMap"
		type="com.bandweaver.tunnel.common.biz.dto.UserDTO">
		<id column="ID" jdbcType="DECIMAL" property="id" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="PASSWORD" jdbcType="VARCHAR"
			property="password" />
		<result column="CRT_TIME" jdbcType="TIMESTAMP"
			property="crtTime" />
	</resultMap>

	<select id="getUserDtoById" resultMap="DtoResultMap">
		select * from
		t_security_user where id = #{id}
	</select>
	
	<resultMap id="userMap" type="com.bandweaver.tunnel.common.biz.pojo.common.One2Many">
		<id column="id" property="id" />
		<result column="name" property="name" />
	</resultMap>

	<select id="getUsersByRole" resultMap="userMap">
		select u.id as id,u.name as name
		from t_security_user u,t_security_role r,t_security_user_role ur
		where
		u.id = ur.u_id and r.id = ur.r_id
		and r.role_name = #{roleName}
	</select>


	<resultMap id="permissionMap"
		type="com.bandweaver.tunnel.common.biz.pojo.common.One2Many">
		<id column="userId" property="userId" />
		<result column="roleId" property="roleId" />
		<result column="roleName" property="roleName" />
		<collection property="menuList" ofType="String">
			<id column="menuCode" property="menuCode" />
		</collection>
		<collection property="permissionList" ofType="String">
			<id column="permissionCode" property="permissionCode" />
		</collection>
	</resultMap>

	<select id="getPermissions" resultMap="permissionMap">
		SELECT
		u.id userId,
		r.role_name roleName,
		p.menu_code menuCode,
		p.permission_code permissionCode
		FROM
		t_security_user u
		LEFT JOIN t_security_user_role ur ON ur.u_id = u.id
		left join t_security_role r on ur.r_id = r.id
		LEFT JOIN t_security_role_permission rp ON ur.r_id = rp.r_id
		LEFT JOIN t_security_permission p ON rp.p_id = p.id
		WHERE
		u.name = #{name}
	</select>



	<select id="getByName" resultMap="BaseResultMap">
		select * from t_security_user
		where name = #{name}
	</select>

	<delete id="deleteBatch">
		delete from t_security_user where id in
		<foreach collection="list" item="item" open="(" separator=","
			close=")">
			#{item}
		</foreach>
	</delete>
</mapper>