<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Activiti begin -->
    <bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">

        <property name="dataSource" ref="dataSource" />
        <property name="transactionManager" ref="transactionManager" />
        <!-- 自动建表 -->
        <property name="databaseSchemaUpdate" value="true" />
        <property name="jobExecutorActivate" value="false" />
        <!-- 发布流程生成图片时正常显示中文 -->
        <property name="activityFontName" value="宋体"/>
        <property name="labelFontName" value="宋体"/>

        <!-- UUID作为主键生成策略
        <property name="idGenerator" ref="uuidGenerator" />
        -->

        <!-- 生成流程图的字体 -->
        <!--         <property name="activityFontName" value="${diagram.activityFontName}"/> -->
        <!--         <property name="labelFontName" value="${diagram.labelFontName}"/> -->

        <!-- 自动部署 -->
        <property name="deploymentResources">
            <list>
                <!--<value>classpath*:/deployments/*.bpmn</value>-->
            </list>
        </property>

        <!-- 自定义表单字段类型 -->
        <property name="customFormTypes">
            <list>
                <!-- <bean class="me.kafeitu.demo.activiti.activiti.form.UsersFormType"/> -->
            </list>
        </property>

        <!-- 全局事件 -->
        <property name="eventListeners">
            <list>
                <bean class="com.bandweaver.tunnel.service.common.activiti.GlobalEventListener" />
            </list>
        </property>

        <property name="typedEventListeners">
            <map>
                <entry key="TASK_CREATED" >
                    <list>
                        <bean class="com.bandweaver.tunnel.service.common.activiti.TaskCreatedListener" />
                    </list>
                </entry>

                <entry key="PROCESS_COMPLETED">
                    <list>
                        <bean class="com.bandweaver.tunnel.service.common.activiti.ProcessCompletedListener" />
                    </list>
                </entry>
            </map>
        </property>
        <!--  全局事件定义结束-->
    </bean>

    <bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
        <property name="processEngineConfiguration" ref="processEngineConfiguration" />
    </bean>

    <bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService"/>
    <bean id="runtimeService" factory-bean="processEngine" factory-method="getRuntimeService"/>
    <bean id="formService" factory-bean="processEngine" factory-method="getFormService"/>
    <bean id="identityService" factory-bean="processEngine" factory-method="getIdentityService"/>
    <bean id="taskService" factory-bean="processEngine" factory-method="getTaskService"/>
    <bean id="historyService" factory-bean="processEngine" factory-method="getHistoryService"/>
    <bean id="managementService" factory-bean="processEngine" factory-method="getManagementService"/>
    <!-- Activiti end -->

    <!--     <jaxws:endpoint id="leaveWebService" implementor="me.kafeitu.demo.activiti.webservice.LeaveWebServiceImpl" address="/leave"/> -->
</beans>