<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 配置全局属性 -->
    <settings>
        <!-- 使用jdbc的getGeneratedKeys获取数据库自增主键值 -->
        <setting name="useGeneratedKeys" value="true" />

        <!-- 使用列别名替换列名 默认:true -->
        <setting name="useColumnLabel" value="true" />

        <!-- 开启驼峰命名转换:Table{create_time} -> Entity{createTime} -->
        <setting name="mapUnderscoreToCamelCase" value="true" />

        <!-- 全局性设置懒加载。如果设为‘false’，则所有相关联的都会被初始化加载。允许值有：true | false。默认值：false  -->
        <setting name="lazyLoadingEnabled" value="false"/>

        <!-- 当设置为‘true’的时候，懒加载的对象可能被任何懒属性全部加载。否则，每个属性都按需加载。允许值有：true | false。默认值：true-->
        <setting name="aggressiveLazyLoading" value="false"/>
		<!-- 控制台打印SQL语句 -->
	<!-- 	<setting name="logImpl" value="STDOUT_LOGGING" /> -->
		
		<!-- mybatis二级缓存全局开关，默认false，true是开启 -->
		<setting name="cacheEnabled" value="false"/>
    </settings>
	
    <typeHandlers>
        <typeHandler handler="com.bandweaver.tunnel.common.platform.mybatis.BooleanTypeHandler" />
    </typeHandlers>
    
    <!-- 配置分页插件 -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 设置数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库-->
            <property name="helperDialect" value="oracle"/>
        </plugin>
    </plugins>

</configuration>