<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Config>
    <alarmTimes>
        <id>1</id>
        <name>10</name>
    </alarmTimes>
    <alarmTimes>
        <id>2</id>
        <name>10</name>
    </alarmTimes>
    <alarmTimes>
        <id>3</id>
        <name>0</name>
    </alarmTimes>
    <alarmTimes>
        <id>4</id>
        <name>0</name>
    </alarmTimes>
    <complexObjectConverts>
        <convertTypes>
            <code>open</code>
            <convertId>1</convertId>
            <describe>井盖开足</describe>
            <type>0</type>
            <value>1</value>
        </convertTypes>
        <convertTypes>
            <code>close</code>
            <convertId>2</convertId>
            <describe>井盖关足</describe>
            <type>0</type>
            <value>1</value>
        </convertTypes>
        <convertTypes>
            <code>fault1</code>
            <convertId>5</convertId>
            <describe>井盖故障</describe>
            <type>0</type>
            <value>1</value>
        </convertTypes>
        <convertTypes>
            <code>fault2</code>
            <convertId>8</convertId>
            <describe>运行故障</describe>
            <type>0</type>
            <value>1</value>
        </convertTypes>
        <convertTypes>
            <code>open</code>
            <convertId>6</convertId>
            <describe>开盖</describe>
            <type>1</type>
            <value>1</value>
        </convertTypes>
        <convertTypes>
            <code>close</code>
            <convertId>7</convertId>
            <describe>关盖</describe>
            <type>1</type>
            <value>1</value>
        </convertTypes>
        <convertTypes>
            <code>clear</code>
            <convertId>9</convertId>
            <describe>报警清除</describe>
            <type>1</type>
            <value>1</value>
        </convertTypes>
        <objectName>电子井盖</objectName>
        <objectType>56</objectType>
        <originalId>0</originalId>
    </complexObjectConverts>
    <complexObjectConverts>
        <convertTypes>
            <code>remote</code>
            <convertId>1</convertId>
            <describe>就地/遥控</describe>
            <type>0</type>
            <value>1</value>
        </convertTypes>
        <convertTypes>
            <code>run</code>
            <convertId>2</convertId>
            <describe>运行/停止</describe>
            <type>0</type>
            <value>1</value>
        </convertTypes>
        <convertTypes>
            <code>fault</code>
            <convertId>3</convertId>
            <describe>故障</describe>
            <type>0</type>
            <value>1</value>
        </convertTypes>
        <convertTypes>
            <code>open</code>
            <convertId>6</convertId>
            <describe>开风机</describe>
            <type>1</type>
            <value>1</value>
        </convertTypes>
        <convertTypes>
            <code>close</code>
            <convertId>7</convertId>
            <describe>关风机</describe>
            <type>1</type>
            <value>1</value>
        </convertTypes>
        <objectName>风机</objectName>
        <objectType>10</objectType>
        <originalId>0</originalId>
    </complexObjectConverts>
    <complexObjectConverts>
        <convertTypes>
            <code>open</code>
            <convertId>3</convertId>
            <describe>电动百叶开足</describe>
            <type>0</type>
            <value>1</value>
        </convertTypes>
        <convertTypes>
            <code>close</code>
            <convertId>4</convertId>
            <describe>电动百叶关足</describe>
            <type>0</type>
            <value>1</value>
        </convertTypes>
        <convertTypes>
            <code>fault</code>
            <convertId>7</convertId>
            <describe>故障</describe>
            <type>0</type>
            <value>1</value>
        </convertTypes>
        <convertTypes>
            <code>open</code>
            <convertId>5</convertId>
            <describe>开电动百叶</describe>
            <type>1</type>
            <value>1</value>
        </convertTypes>
        <convertTypes>
            <code>close</code>
            <convertId>6</convertId>
            <describe>关电动百叶</describe>
            <type>1</type>
            <value>1</value>
        </convertTypes>
        <convertTypes>
            <code>clear</code>
            <convertId>8</convertId>
            <describe>报警清除</describe>
            <type>1</type>
            <value>1</value>
        </convertTypes>
        <objectName>电动百叶</objectName>
        <objectType>58</objectType>
        <originalId>0</originalId>
    </complexObjectConverts>
    <complexObjectConverts>
        <convertTypes>
            <code>remote</code>
            <convertId>1</convertId>
            <describe>就地/遥控</describe>
            <type>0</type>
            <value>1</value>
        </convertTypes>
        <convertTypes>
            <code>run</code>
            <convertId>2</convertId>
            <describe>运行/停止</describe>
            <type>0</type>
            <value>1</value>
        </convertTypes>
        <convertTypes>
            <code>fault</code>
            <convertId>3</convertId>
            <describe>故障</describe>
            <type>0</type>
            <value>1</value>
        </convertTypes>
        <objectName>排水泵</objectName>
        <objectType>59</objectType>
        <originalId>0</originalId>
    </complexObjectConverts>
    <complexObjectConverts>
        <convertTypes>
            <code>run</code>
            <convertId>1</convertId>
            <describe>输入值</describe>
            <type>0</type>
            <value>1</value>
        </convertTypes>
        <convertTypes>
            <code>open</code>
            <convertId>1</convertId>
            <describe>布防</describe>
            <type>1</type>
            <value>1</value>
        </convertTypes>
        <convertTypes>
            <code>close</code>
            <convertId>1</convertId>
            <describe>撤防</describe>
            <type>1</type>
            <value>0</value>
        </convertTypes>
        <objectName>布防/撤防</objectName>
        <objectType>63</objectType>
        <originalId>0</originalId>
    </complexObjectConverts>
    <complexObjectConverts>
        <convertTypes>
            <code>run</code>
            <convertId>1</convertId>
            <describe>输入值</describe>
            <type>0</type>
            <value>1</value>
        </convertTypes>
        <convertTypes>
            <code>open</code>
            <convertId>1</convertId>
            <describe>投入联动</describe>
            <type>1</type>
            <value>1</value>
        </convertTypes>
        <convertTypes>
            <code>close</code>
            <convertId>1</convertId>
            <describe>解除联动</describe>
            <type>1</type>
            <value>0</value>
        </convertTypes>
        <objectName>投入/解除联动</objectName>
        <objectType>64</objectType>
        <originalId>0</originalId>
    </complexObjectConverts>
    <complexObjectConverts>
        <convertTypes>
            <code>run</code>
            <convertId>1</convertId>
            <describe>开/关</describe>
            <type>0</type>
            <value>1</value>
        </convertTypes>
        <convertTypes>
            <code>fault</code>
            <convertId>7</convertId>
            <describe>运行故障</describe>
            <type>0</type>
            <value>1</value>
        </convertTypes>
        <convertTypes>
            <code>open</code>
            <convertId>5</convertId>
            <describe>开灯</describe>
            <type>1</type>
            <value>1</value>
        </convertTypes>
        <convertTypes>
            <code>close</code>
            <convertId>6</convertId>
            <describe>关灯</describe>
            <type>1</type>
            <value>1</value>
        </convertTypes>
        <convertTypes>
            <code>clear</code>
            <convertId>8</convertId>
            <describe>报警清除</describe>
            <type>1</type>
            <value>1</value>
        </convertTypes>
        <objectName>应急照明</objectName>
        <objectType>12</objectType>
        <originalId>0</originalId>
    </complexObjectConverts>
    <complexObjectConverts>
        <convertTypes>
            <code>value1</code>
            <convertId>1</convertId>
            <describe>组合有功总电能</describe>
            <type>2</type>
            <value>0</value>
        </convertTypes>
        <convertTypes>
            <code>value2</code>
            <convertId>2</convertId>
            <describe>组合无功总电能</describe>
            <type>2</type>
            <value>0</value>
        </convertTypes>
        <convertTypes>
            <code>value3</code>
            <convertId>3</convertId>
            <describe>A相电压</describe>
            <type>2</type>
            <value>0</value>
        </convertTypes>
        <convertTypes>
            <code>value4</code>
            <convertId>4</convertId>
            <describe>B相电压</describe>
            <type>2</type>
            <value>0</value>
        </convertTypes>
        <convertTypes>
            <code>value5</code>
            <convertId>5</convertId>
            <describe>C相电压</describe>
            <type>2</type>
            <value>0</value>
        </convertTypes>
        <convertTypes>
            <code>value6</code>
            <convertId>6</convertId>
            <describe>AB相线电压</describe>
            <type>2</type>
            <value>0</value>
        </convertTypes>
        <convertTypes>
            <code>value7</code>
            <convertId>7</convertId>
            <describe>BC相线电压</describe>
            <type>2</type>
            <value>0</value>
        </convertTypes>
        <convertTypes>
            <code>value8</code>
            <convertId>8</convertId>
            <describe>AC相线电压</describe>
            <type>2</type>
            <value>0</value>
        </convertTypes>
        <convertTypes>
            <code>value9</code>
            <convertId>9</convertId>
            <describe>A相电流</describe>
            <type>2</type>
            <value>0</value>
        </convertTypes>
        <convertTypes>
            <code>value10</code>
            <convertId>10</convertId>
            <describe>B相电流</describe>
            <type>2</type>
            <value>0</value>
        </convertTypes>
        <convertTypes>
            <code>value11</code>
            <convertId>11</convertId>
            <describe>C相电流</describe>
            <type>2</type>
            <value>0</value>
        </convertTypes>
        <convertTypes>
            <code>value12</code>
            <convertId>12</convertId>
            <describe>零线电流</describe>
            <type>2</type>
            <value>0</value>
        </convertTypes>
        <convertTypes>
            <code>value13</code>
            <convertId>13</convertId>
            <describe>有功总功率</describe>
            <type>2</type>
            <value>0</value>
        </convertTypes>
        <convertTypes>
            <code>value14</code>
            <convertId>14</convertId>
            <describe>无功总功率</describe>
            <type>2</type>
            <value>0</value>
        </convertTypes>
        <convertTypes>
            <code>value15</code>
            <convertId>15</convertId>
            <describe>总功率因数</describe>
            <type>2</type>
            <value>0</value>
        </convertTypes>
        <convertTypes>
            <code>value16</code>
            <convertId>16</convertId>
            <describe>电压不平衡</describe>
            <type>2</type>
            <value>0</value>
        </convertTypes>
        <convertTypes>
            <code>value17</code>
            <convertId>17</convertId>
            <describe>电流不平衡</describe>
            <type>2</type>
            <value>0</value>
        </convertTypes>
        <objectName>电子仪表</objectName>
        <objectType>30</objectType>
        <originalId>0</originalId>
    </complexObjectConverts>
    <lightDistance>50.0</lightDistance>
    <objectTypeIds>0</objectTypeIds>
    <objectTypeIds>1</objectTypeIds>
    <objectTypeIds>2</objectTypeIds>
    <objectTypeIds>3</objectTypeIds>
    <objectTypeIds>4</objectTypeIds>
    <objectTypeIds>5</objectTypeIds>
    <objectTypeIds>7</objectTypeIds>
    <objectTypeIds>9</objectTypeIds>
    <objectTypeIds>10</objectTypeIds>
    <objectTypeIds>11</objectTypeIds>
    <objectTypeIds>12</objectTypeIds>
    <objectTypeIds>20</objectTypeIds>
    <objectTypeIds>21</objectTypeIds>
    <objectTypeIds>30</objectTypeIds>
    <objectTypeIds>31</objectTypeIds>
    <objectTypeIds>32</objectTypeIds>
    <objectTypeIds>33</objectTypeIds>
    <objectTypeIds>34</objectTypeIds>
    <objectTypeIds>35</objectTypeIds>
    <objectTypeIds>36</objectTypeIds>
    <objectTypeIds>37</objectTypeIds>
    <objectTypeIds>41</objectTypeIds>
    <objectTypeIds>51</objectTypeIds>
    <objectTypeIds>52</objectTypeIds>
    <objectTypeIds>53</objectTypeIds>
    <objectTypeIds>54</objectTypeIds>
    <objectTypeIds>55</objectTypeIds>
    <objectTypeIds>56</objectTypeIds>
    <objectTypeIds>57</objectTypeIds>
    <objectTypeIds>58</objectTypeIds>
    <objectTypeIds>59</objectTypeIds>
    <objectTypeIds>60</objectTypeIds>
    <objectTypeIds>61</objectTypeIds>
    <objectTypeIds>62</objectTypeIds>
    <objectTypeIds>63</objectTypeIds>
    <objectTypeIds>64</objectTypeIds>
    <lightDistance>50.0</lightDistance>
    <closeTime>5</closeTime>
    <tunnelParam>
        <areaLength>2</areaLength>
        <areaNumber>2</areaNumber>
        <storeLength>2</storeLength>
        <storeNumber>4</storeNumber>
        <tunnelLength>2</tunnelLength>
        <tunnelNumber>0</tunnelNumber>
        <typeLength>2</typeLength>
        <typeNumber>6</typeNumber>
    </tunnelParam>
    <typeFiles>
        <name>红外摄像机</name>
        <sn>01</sn>
        <typeId>7</typeId>
    </typeFiles>
    <typeFiles>
        <name>防爆型摄像机</name>
        <sn>02</sn>
        <typeId>7</typeId>
    </typeFiles>
    <typeFiles>
        <name>氧气检测仪</name>
        <sn>21</sn>
        <typeId>3</typeId>
    </typeFiles>
    <typeFiles>
        <name>甲烷检测仪</name>
        <sn>22</sn>
        <typeId>5</typeId>
    </typeFiles>
    <typeFiles>
        <name>硫化氢检测仪</name>
        <sn>23</sn>
        <typeId>4</typeId>
    </typeFiles>
    <typeFiles>
        <name>温度检测仪</name>
        <sn>24</sn>
        <typeId>1</typeId>
    </typeFiles>
    <typeFiles>
        <name>湿度检测仪</name>
        <sn>25</sn>
        <typeId>2</typeId>
    </typeFiles>
    <typeFiles>
        <name>投入式液位计</name>
        <sn>26</sn>
        <typeId>21</typeId>
    </typeFiles>
    <typeFiles>
        <name>微波红外入侵探测器</name>
        <sn>31</sn>
        <typeId>57</typeId>
    </typeFiles>
    <typeFiles>
        <name>声光报警器</name>
        <sn>32</sn>
        <typeId>41</typeId>
    </typeFiles>
    <typeFiles>
        <name>电力井盖</name>
        <sn>33</sn>
        <typeId>56</typeId>
    </typeFiles>
    <typeFiles>
        <name>风机</name>
        <sn>41</sn>
        <typeId>10</typeId>
    </typeFiles>
    <typeFiles>
        <name>电动百叶</name>
        <sn>42</sn>
        <typeId>58</typeId>
    </typeFiles>
    <typeFiles>
        <name>一般照明系统</name>
        <sn>43</sn>
        <typeId>11</typeId>
    </typeFiles>
    <typeFiles>
        <name>应急照明系统</name>
        <sn>44</sn>
        <typeId>12</typeId>
    </typeFiles>
    <typeFiles>
        <name>排水泵</name>
        <sn>45</sn>
        <typeId>59</typeId>
    </typeFiles>
    <typeFiles>
        <name>电力仪表AP</name>
        <sn>46</sn>
        <typeId>30</typeId>
    </typeFiles>
    <typeFiles>
        <name>电力仪表EP</name>
        <sn>47</sn>
        <typeId>30</typeId>
    </typeFiles>
    <typeFiles>
        <name>布防/撤防</name>
        <sn>51</sn>
        <typeId>63</typeId>
    </typeFiles>
    <typeFiles>
        <name>投入/解除联动</name>
        <sn>52</sn>
        <typeId>64</typeId>
    </typeFiles>
    <units>
        <id>1</id>
        <latitude>37.71034251365869</latitude>
        <longitude>112.49948864664668</longitude>
        <name>监控中心</name>
    </units>
    <units>
        <id>2</id>
        <latitude>37.706148</latitude>
        <longitude>112.49506</longitude>
        <name>晋源区实验中学</name>
    </units>
    <units>
        <id>3</id>
        <latitude>37.704056</latitude>
        <longitude>112.499595</longitude>
        <name>山西省儿童医院</name>
    </units>
    <units>
        <id>4</id>
        <latitude>37.715545</latitude>
        <longitude>112.477914</longitude>
        <name>晋源区政府</name>
    </units>
    <units>
        <id>5</id>
        <latitude>37.72776923822512</latitude>
        <longitude>112.4858731580146</longitude>
        <name>太原古县城</name>
    </units>
    <units>
        <id>6</id>
        <latitude>37.70384793736499</latitude>
        <longitude>112.52207233753701</longitude>
        <name>管廊东入口</name>
    </units>
    <units>
        <id>7</id>
        <latitude>37.69655876626396</latitude>
        <longitude>112.51743415066589</longitude>
        <name>污水泵站</name>
    </units>
    <units>
        <id>8</id>
        <latitude>37.69271374038769</latitude>
        <longitude>112.51382289846887</longitude>
        <name>雨水泵站</name>
    </units>
</Config>
