.ivu-radio-group-button .ivu-radio-wrapper {
    color: #fff;
    background: transparent;
    border: 1px solid #59b4e3;
    border-right: none;
    box-shadow: 0px 0px 0.1px 0.1px rgba(89, 180, 227, 0.5);
}
.ivu-radio-group-button .ivu-radio-wrapper:last-child {
    border-right: 1px solid #59b4e3;
}
.ivu-radio-group-button .ivu-radio-wrapper:after,
.ivu-radio-group-button .ivu-radio-wrapper:before {
    background: transparent;
}
.stores >>> .ivu-radio-inner {
    border: 1px solid #266fbd;
}
.gis {
    position: relative;
    width: 100%;
    border: 1px solid #00ffff;
    box-shadow: 0px 0px 1px 1px rgba(89, 180, 227, 1);
}

.select_radio {
    color: #fff;
    background-color: #869bcb !important;
    background-position: 0 -15px;
}
.monitor-tunnel-title {
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 2.5vmin;
    /* background: url("../../../../assets/UM/monitor-tunnel-title.png") no-repeat; */
    background-size: cover;
    padding-bottom: 0.4rem;
}