.ivu-table-wrapper>>>.ivu-table{
    padding-right: 2vmin;
}
.ivu-table-wrapper>>>.ivu-table-body{
    overflow-y: auto;
    height: 64vmin;
}
.ivu-table-wrapper>>>.ivu-table td,
.ivu-table-wrapper>>>.ivu-table th,
.ivu-table-wrapper>>>.ivu-table:after,
.ivu-table-wrapper>>>.ivu-table:before,
.ivu-table-wrapper>>>.ivu-table {
    background: transparent;
    color: #fff;
    margin-left: 2.5vmin;
}

.ivu-table-wrapper>>>.ivu-table th,
.ivu-table-wrapper>>>.ivu-table td {
    border-bottom: none;
}

.common_spen {
    display: inline-block;
    transform: translate(0, 8%);
    margin-right: 2%;
    color: #fff;
    font-size:1.1vmin;
}

.ivu-select>>>.ivu-select-selection {
    background-color: transparent;
}

.ivu-select {
    color: #fff;
}

.area_length {
    position: absolute;
    left: 70%;
    color: #fff;
    font-size: 0.7rem;
}
.ivu-table-wrapper>>>.ivu-table-tip,
.ivu-table-wrapper>>>.ivu-table-overflowX {
    overflow-x: hidden;
}
.data::-webkit-scrollbar,
.ivu-table-wrapper>>>.ivu-table-body::-webkit-scrollbar {
    width: 1vmin; 
    height: 0.2vmin;
}
.data::-webkit-scrollbar-thumb,
.ivu-table-wrapper>>>.ivu-table-body::-webkit-scrollbar-thumb {
    border-radius: 1vmin;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #83a6ed;
}
.data::-webkit-scrollbar-track,
.ivu-table-wrapper>>>.ivu-table-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 1vmin;
    background: #ededed;
}