<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bandweaver.tunnel.dao.em.ObjectBindMapper">
  <resultMap id="BaseResultMap" type="com.bandweaver.tunnel.common.biz.pojo.em.ObjectBind">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="OBJECT_ID" jdbcType="DECIMAL" property="objectId" />
    <result column="BIND_ID" jdbcType="DECIMAL" property="bindId" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
    <result column="CRT_TIME" jdbcType="TIMESTAMP" property="crtTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, OBJECT_ID, BIND_ID, TYPE, CRT_TIME
  </sql>
  <select id="selectByPrimaryKey"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_EM_OBJ_BIND
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" >
    delete from T_EM_OBJ_BIND
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.bandweaver.tunnel.common.biz.pojo.em.ObjectBind">
    insert into T_EM_OBJ_BIND (ID, OBJECT_ID, BIND_ID, 
      TYPE, CRT_TIME)
    values (#{id,jdbcType=DECIMAL}, #{objectId,jdbcType=DECIMAL}, #{bindId,jdbcType=DECIMAL}, 
      #{type,jdbcType=DECIMAL}, #{crtTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bandweaver.tunnel.common.biz.pojo.em.ObjectBind">
    insert into T_EM_OBJ_BIND
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="objectId != null">
        OBJECT_ID,
      </if>
      <if test="bindId != null">
        BIND_ID,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="crtTime != null">
        CRT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="objectId != null">
        #{objectId,jdbcType=DECIMAL},
      </if>
      <if test="bindId != null">
        #{bindId,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        #{type,jdbcType=DECIMAL},
      </if>
      <if test="crtTime != null">
        #{crtTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bandweaver.tunnel.common.biz.pojo.em.ObjectBind">
    update T_EM_OBJ_BIND
    <set>
      <if test="objectId != null">
        OBJECT_ID = #{objectId,jdbcType=DECIMAL},
      </if>
      <if test="bindId != null">
        BIND_ID = #{bindId,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=DECIMAL},
      </if>
      <if test="crtTime != null">
        CRT_TIME = #{crtTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bandweaver.tunnel.common.biz.pojo.em.ObjectBind">
    update T_EM_OBJ_BIND
    set OBJECT_ID = #{objectId,jdbcType=DECIMAL},
      BIND_ID = #{bindId,jdbcType=DECIMAL},
      TYPE = #{type,jdbcType=DECIMAL},
      CRT_TIME = #{crtTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  
   <select id="getListByObjectAndType"  resultMap="BaseResultMap">
   	select * from T_EM_OBJ_BIND
    where object_id = #{objectId} and type = #{type}
  </select>
</mapper>